.root {
    width: 100%;
    display: block;
}

.select-button-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
    border-radius: 0.3rem;
    background-color: #c9dcff;
    padding: 4px;
}

.select-button {
    background-color: #4256b2;
    color: white;
    border-radius: 0.5rem;
    padding: 6px;
    margin: 3px;
    text-align: center;
    font-weight: bold;
}

.selected-button {
    background-color: #012660;
}