.root {
    width: 100%;
    display: block;
}

.select-button-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
    border: 1px solid black;
    border-radius: 15px;
}

.select-button {
    background-color: #B8F3B8;
    color: #5A8452;
    border-radius: 15px;
    padding: 4px;
    margin: 3px;
    text-align: center;
}

.selected-button {
    background-color: aqua;
    color: #5A8452;
    border-radius: 15px;
    padding: 4px;
    margin: 3px;
    text-align: center;
}