.percent-root{
  margin: 10px;
  width: 50%;
}

.percent{
  width: 80%;
  border-radius: 10px;
  border:  1px solid rgba(0, 0, 0, .125);
  padding: 1rem;
  margin: auto;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 6px;
  text-align: center;
}

.number-row{
  margin: 0.5rem;
}

.percent-number {
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
}

@media screen and (max-width: 600px) {
  .percent-root{
    width: 100%;
  }
}
