body{
  font-family: sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
}

.result-area {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}

.mumber-list{
  display: flex;
  justify-content: center;
  align-items: center;
}